header {
	width: 50vw;
	height: 50vh;
	background: lightseagreen;
	background-clip: content-box;
	padding: 10px;
	border: solid 10px purple;
	margin: 0;
}

nav {
	width: 400px;
	height: 300px;
	background: lightskyblue;
}

img {
	width: 50px;
	height: 50px;
	background: red;
}